---
import Layout from '../layouts/Layout.astro';
import { actions } from 'astro:actions';

const user = Astro.locals.user;
---

<Layout>
	<h1>status</h1>
	list here

	{JSON.stringify(user)}

	{!user ? (
		<h2>login</h2>
		<a href="/login">login here</a>
	) : (
		<h2>logout</h2>
		<form action={actions.logout} method="post">
			<button type="submit">logout</button>
		</form>
	)}
</Layout>
