---
import { actions } from "astro:actions";

const result = Astro.getActionResult(actions.login);
if (result && !result.error) {
  return Astro.redirect(result.data.redirectTo);
}
---
<form action={actions.login} method="post">
  <label for="handle">AtProto handle</label>
  <input type="text" name="handle" id="handle" required />

  <button type="submit">Login</button>
</form>

<section>
  {result?.error}
</section>